.App {
  text-align: center;
 
}
.WeigthUpdate{
  background-color: #282c34;
  color: #282c34;
}
.form-control::placeholder {
  color: white !important;
  /* Use !important to override Bootstrap's styles */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.loginPage{
  color: #282c34;
  display: block;
  margin-left: 40%;
  margin-top: 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
   
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chartjs{
  display: block;
    width: calc(100%-10px);
      overflow-x: scroll;
      overflow-y: scroll;
      justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
